.list-item {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.mark {
  font-weight: 700;
  margin-left: 3rem;
}

.full-mark {
  color: hsla(224, 30%, 27%, 0.604);
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
